<section class="home">
  <app-navbar></app-navbar>
  <div class="container">
    <app-navigation></app-navigation>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

<style>
  .home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 500px;
    align-self: center;
    padding-bottom: 3em;
    overflow: hidden;
  }

  .router-outlet {
    scrollbar-width: none;
    height: 100%;
    overflow-x: scroll;
  }
</style>
