@{
    ViewData["Title"] = "Home";
}

<section class="container-home">
    <section class="notes-home">
        <h2 class="title-section">Notas</h2>

        <ul class="notes">
            <li class="note-home">
                <div class="body-note">
                    this is a test note for device the styles has been aplied at the notes
                </div>
                <div class="options-note">
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </div>
            </li>
            <li class="note-home">
                <div class="body-note">
                    this is a test note for device the styles has been aplied at the notes
                </div>
                <div class="options-note">
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </div>
            </li>
            <li class="note-home">
                <div class="body-note">
                    this is a test note for device the styles has been aplied at the notes
                </div>
                <div class="options-note">
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </div>
            </li>
            <li class="note-home">
                <div class="body-note">
                    this is a test note for device the styles has been aplied at the notes
                </div>
                <div class="options-note">
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </div>
            </li>
        </ul>
        
    </section>

    <section class="list-contacts-home">
        <h2 class="title-section">lista de contactos</h2>

        <ul class="contacts">
            <li class="contact-home">
                <div class="contact-profile">B</div>
                <div class="contact-name">Bartolito</div>
            </li>
            <li class="contact-home">
                <div class="contact-profile">D</div>
                <div class="contact-name">Daniel grajales</div>
            </li>
            <li class="contact-home">
                <div class="contact-profile">N</div>
                <div class="contact-name">Naruto Uzumaki</div>
            </li>
            <li class="contact-home">
                <div class="contact-profile">N</div>
                <div class="contact-name">Naruto Uzumaki hokage</div>
            </li>
            <li class="contact-home">
                <div class="contact-profile">T</div>
                <div class="contact-name">Twenty one pilots</div>
            </li>
            <li class="contact-home">
                <div class="contact-profile">J</div>
                <div class="contact-name">John Doe</div>
            </li>
        </ul>
        
    </section>

    <section class="important-dates-home">
        <h2 class="title-section">fechas importantes</h2>

        <ul class="dates">
            <li class="important-date-home">
                <div class="date">
                    <div class="month">JUL</div>
                    <div class="day">10</div>
                </div>
                <div class="info">celebrar día de la independencia</div>
            </li>
            <li class="important-date-home">
                <div class="date">
                    <div class="month">JUL</div>
                    <div class="day">10</div>
                </div>
                <div class="info">celebrar día de la independencia</div>
            </li>
            <li class="important-date-home">
                <div class="date">
                    <div class="month">JUL</div>
                    <div class="day">10</div>
                </div>
                <div class="info">celebrar día de la independencia</div>
            </li>
            <li class="important-date-home">
                <div class="date">
                    <div class="month">JUL</div>
                    <div class="day">10</div>
                </div>
                <div class="info">celebrar día de la independencia</div>
            </li>
        </ul>
    </section>
</section>
