<div class="edit-date">
  <form [formGroup]="formDate">
    <div class="form-group">
      <!-- <label for="title">Título:</label> -->
      <input
        type="text"
        id="title"
        name="title"
        formControlName="title"
        placeholder="Título"
      />
    </div>
    <div class="form-group">
      <!-- <label for="date">Fecha:</label> -->
      <input type="date" id="date" name="date" formControlName="date" />
    </div>
    <div class="form-group">
      <!-- <label for="description">Descripción:</label> -->
      <textarea
        id="description"
        name="description"
        formControlName="description"
        placeholder="Descripción"
        rows="10"
      ></textarea>
    </div>
    <div class="options">
      <button [disabled]="formDate.invalid" (click)="onSaveDate()">
        Guardar
      </button>
      <button (click)="onDeleteDate()">Eliminar</button>
      <button (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>

<style>
  .edit-date {
    border-bottom: 2px solid var(--yellow-color);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  input,
  textarea {
    background-color: transparent;
    border: none;
    outline: none;
  }

  input {
    font-size: 1em;
    font-weight: bold;
  }

  textarea {
    padding: 5px;
    width: 100%;
    height: 100%;
    resize: none;
    scrollbar-width: thin;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
  }
</style>
