/* You can add global styles to this file, and also import other style files */

:root {
  --yellow-color: #f4c62c;
  --gray-color: #ebe9e0;
  --white-color: #f4f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
