@model AppContactos.Models.Note;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Note";
}

    <div class="note-form">
        <div class="header-form">
            Add Note
        </div>
        <div class="body-form">
            <form asp-controller="Note" asp-action="SaveNote" method="post" class="form">
                @*<input type="text" asp-for="NoteContent" placeholder="Descripción de la nota" required/>*@
                <textarea placeholder="Contenido" asp-for="NoteContent" required></textarea>

                @*@if (ViewData["Mensaje"] != null)
                {
                    <div class="alert" role="alert">
                        @ViewData["Mensaje"]
                    </div>
                }*@

                <div class="buttons">
                    <button class="btn-submit" type="submit">Guardar</button>
                    <button class="btn-submit">Cancelar</button>
                </div>

            </form>
        </div>

    </div>
