@model AppContactos.Models.User;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/Auth.css" asp-append-version="true" />


</head>
<body>

    <div class="container">
        <div class="auth-form">
            <div class="header-form">
                Register
            </div>
            <div class="body-form">
                <form asp-controller="Inicio" asp-action="Register" method="post" class="form">
                    <input type="text" placeholder="Name" asp-for="UserName" required/>
                    <input type="text" placeholder="Email" asp-for="Email" required/>
                    <input type="number" placeholder="Phone" asp-for="Phone" required/>
                    <input type="password" placeholder="Password" asp-for="Password" required />

                    @if (ViewData["Mensaje"] != null)
                        {
                                <div class="alert" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                        }

                    <button class="btn-submit" type="submit">Registrarse</button>
                </form>
                <div class="footer-form">
                    ¿Ya tienes una cuenta? <a href="@Url.Action("Login", "Inicio")">Ingresa aquí</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
